body{
    background-color: lightblue;
    text-align: center;
    font-family: Arial;
}

h1{
    color: red;
}

p{
    color: green;
    font-size: 20px;
}

button{
    padding: 10px;
    background-color: black;
    color: white;
}